<html layout:decorator="shared/homelayout">

<body>
<th:block layout:fragment="header">
    <link rel="stylesheet" th:href="@{/css/studentedit.css}" type="text/css"/>
</th:block>

<th:block layout:fragment="content">

    <h2>Product Info</h2> <br/>

    <form action="/" class="form-horizontal" method="POST" th:object="${product}">
        <input name="productId" th:value="${product.productId}" type="hidden"/>

        <div class="form-group">
            <label class="control-label col-sm-2"> productNumber:</label>
            <label class="validation-message" th:errors="*{productNumber}"
                   th:if="${#fields.hasErrors('productNumber')}"></label>
            <div class="col-sm-10">
                <input class="form-control" id="productNumber" name="productNumber" th:field="*{productNumber}"
                       type="text">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2"> name:</label>
            <label class="validation-message" th:errors="*{name}"
                   th:if="${#fields.hasErrors('name')}"></label>
            <div class="col-sm-10">
                <input class="form-control" id="name" name="name" th:field="*{name}" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"> quantityInStock:</label>
            <label class="validation-message" th:errors="*{quantityInStock}"
                   th:if="${#fields.hasErrors('quantityInStock')}"></label>
            <div class="col-sm-10">
                <input class="form-control" id="quantityInStock" name="quantityInStock" th:field="*{quantityInStock}"
                       type="text">
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"> unitPrice:</label>
            <label class="validation-message" th:errors="*{unitPrice}"
                   th:if="${#fields.hasErrors('name')}"></label>
            <div class="col-sm-10">
                <input class="form-control" id="unitPrice" name="unitPrice" th:field="*{unitPrice}" type="text">
            </div>

        </div>


        <div class="form-group">
            <label class="control-label col-sm-2"> dateSupplied:</label>
            <label class="validation-message" th:errors="*{dateSupplied}"
                   th:if="${#fields.hasErrors('dateSupplied')}"></label>
            <div class="col-sm-10">
                <input class="form-control" id="dateSupplied" name="dateSupplied" th:field="*{dateSupplied}"
                       type="date">
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-desupplierfault" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <br/>

    <a href="/">Product List</a>
</th:block>

<th:block layout:fragment="footer">
</th:block>

</body>
</html>